@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,500,600,700");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:200,300,400,600,700,800");
@import url("http://fonts.googleapis.com/css?family=Source+Code+Pro:500");
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:active, a:hover {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

mark {
  background: yellow;
  color: black; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

small {
  font-size: 80%; }

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

button, html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer; }

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  background-color: #22262d;
  color: #e7e7e7;
  font-family: "Open Sans", helvetica, sans-serif; }

body {
  font-weight: 200; }

blockquote p {
  margin: 2em 0;
  padding-left: 2em;
  border-left: 0.3em solid #2e333b;
  font-size: 0.9em; }

blockquote {
  margin: 0; }

p, ul, ol {
  line-height: 1.6em; }

li {
  padding: 0 0 0.5em 0; }

a {
  color: #3caff1;
  text-decoration: none;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  a:visited {
    color: #3caff1; }
  a:hover {
    color: #b5dcf2; }

.not-link {
  color: #e7e7e7; }
  .not-link:hover {
    color: #e7e7e7; }

strong {
  color: white;
  font-weight: 600; }

.container {
  width: 100%;
  position: relative;
  max-width: 38em;
  padding: 1em 6em; }

@media (max-width: 768px) {
  .container {
    padding: 1em;
    margin: auto; } }
@media (max-width: 610px) {
  .container {
    padding: 0; } }
h1 {
  font-size: 2em; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  margin-bottom: 0; }

p {
  margin-top: 0.2em; }

hr {
  border: 0;
  width: 10em;
  border-top: 0.2em solid #2e333b;
  height: 0.2em;
  margin-top: 2.5em;
  margin-bottom: 2.5em; }

.highlight {
  background-color: #1d2128;
  padding: 1em;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -ms-border-radius: 0.4em;
  -o-border-radius: 0.4em;
  border-radius: 0.4em; }

pre {
  margin: 0; }
  pre code {
    padding: 0; }

code {
  font-family: "Source Code Pro";
  font-size: 0.8em;
  font-weight: 400;
  background-color: #1d2128;
  padding: 0.6em 0.6em 0.3em 0.6em;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  border-radius: 0.3em; }

header {
  padding-bottom: 1em;
  word-spacing: 0.2em;
  font-size: 1.1em;
  font-weight: 600; }

.logo {
  font-weight: 700;
  font-family: "Source Sans Pro";
  font-size: 5em; }
  .logo a {
    color: white; }
    .logo a:hover {
      color: #b5dcf2; }

nav {
  position: relative;
  bottom: 0.7em; }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    nav ul li {
      display: inline; }

.header-link {
  color: #a3a3a3; }
  .header-link:visited {
    color: #a3a3a3; }
  .header-link:hover {
    color: #b5dcf2; }

.blog-date {
  color: #a3a3a3;
  font-size: 0.7em;
  font-weight: 200;
  margin-bottom: 0.7em; }

.blog-title {
  margin-bottom: 0;
  font-family: "Source Sans Pro"; }

.post img {
  max-width: 100%; }

.posts {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .posts li {
    margin-bottom: 1.5em; }

.index-blog-title {
  font-size: 1.2em;
  font-weight: 600; }
