@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,500,600,700");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:200,300,400,600,700,800");
@import url("http://fonts.googleapis.com/css?family=Source+Code+Pro:500");
html {
  background-color: #22262d;
  color: #e7e7e7;
  font-family: "Open Sans"; }

body {
  font-weight: 200; }

blockquote p {
  margin: 2em 0;
  padding-left: 2em;
  border-left: 0.3em solid #2e333b;
  font-size: 0.9em; }

blockquote {
  margin: 0; }

p, ul, ol {
  line-height: 1.6em; }

a {
  color: #3caff1;
  text-decoration: none;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  a:visited {
    color: #3caff1; }
  a:hover {
    color: #b5dcf2; }

.not-link {
  color: #e7e7e7; }
  .not-link:hover {
    color: #e7e7e7; }

strong {
  color: white;
  font-weight: 600; }

.container {
  width: 38em;
  margin: 1em 6em; }

h1 {
  font-size: 1.6em; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 600; }

hr {
  border: 0;
  width: 10em;
  border-top: 0.2em solid #2e333b;
  height: 0.2em;
  margin-top: 2.5em;
  margin-bottom: 2.5em; }

.highlight {
  background-color: #1d2128;
  padding: 1em;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -ms-border-radius: 0.4em;
  -o-border-radius: 0.4em;
  border-radius: 0.4em; }

pre {
  margin: 0; }
  pre code {
    padding: 0; }

code {
  font-family: "Source Code Pro";
  font-size: 0.8em;
  font-weight: 400;
  background-color: #1d2128;
  padding: 0.6em 0.6em 0.3em 0.6em;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  border-radius: 0.3em; }

header {
  padding-bottom: 1em;
  word-spacing: 0.2em;
  font-size: 1.1em;
  font-weight: 600; }

.logo {
  font-weight: 700;
  font-family: "Source Sans Pro";
  font-size: 5em; }
  .logo a {
    color: white; }
    .logo a:hover {
      color: #3caff1; }

nav {
  position: relative;
  bottom: 0.7em; }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    nav ul li {
      display: inline; }

.header-link {
  color: #a3a3a3; }
  .header-link:visited {
    color: #a3a3a3; }
  .header-link:hover {
    color: #3caff1; }

.blog-date {
  color: #a3a3a3;
  font-size: 0.7em;
  font-weight: 200;
  margin-bottom: 0.7em; }

.blog-title {
  margin-bottom: 0;
  font-family: "Source Sans Pro"; }

.posts {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .posts li {
    margin-bottom: 1.5em; }

.index-blog-title {
  font-size: 1.2em;
  font-weight: 600; }
