.blog-date
  color: $lightGrey
  font-size: 0.7em
  font-weight: 200
  margin-bottom: 0.7em

.blog-header
  height: 350px
  background-image: url("/assets/grey_@2X.png")
  margin-bottom: 0
  font-size: 1.2em
  padding-bottom: 0
  // position: absolute
  width: 230px
  margin-left: 5%
  float: left

.blog-title
  position: absolute
  font-size: 1.8em
  font-family: "Tisa"
  // letter-spacing: -1px
  color: $lightPastelRed
  line-height: 1.1
  margin: 0 auto
  font-weight: normal
  bottom: 0
  padding: 0.5em 0

.blog-title-container
  max-width: 650px
  margin: 0 auto
  position: relative
  height: 100%

.post img
  max-width: 100%

.post-container
  padding-top: $sitePaddingTop
  // box-shadow: 0 0 5px rgba(200, 200, 200, 0.7)
  position: relative
  z-index: 10
  overflow: hidden
  // margin: 0 auto

.image-scrim
  background-color: rgba(30, 30, 30, 0.8)
  width: 100%
  height: 100%

