.highlight
  background-color: #efefef
  // color: #93a1a1
  padding: 1em
  +border-radius(0.4em)
  line-height: 1.2em
  overflow: scroll
  margin: 1em

pre
  margin: 0
  code
    padding: 0

code
  font-family: "Ayuthaya"
  font-size: 0.8em
  font-weight: 400
  background-color: #efefef
  // border: 1px solid #1d2128
  padding: 0.25em
  +border-radius(0.3em)