// @import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,500,600,700")
@import url("http://fonts.googleapis.com/css?family=Open+Sans:200,300,400,600,700,800")

$darkBlue: #22262d
$lightBlue: #3caff1
$paleBlue: #b5dcf2
$paleGrey: #e7e7e7
$lightGrey: #a3a3a3
$lightPastelRed: #ff8177
$lightGreen: #96bb24
$blue: #2484bb
$red: #cd251f

$sitePaddingTop: 75px
$body-font-color: #555

@font-face
  font-family: "Tisa"
  src: local("Tisa"), url("/assets/fonts/Tisa.ttf") format("ttf")
  font-weight: 400
  font-style: normal

@font-face
  font-family: "Tisa"
  src: local("Tisa"), url("/assets/fonts/Tisa.woff") format("woff")
  font-weight: 400
  font-style: normal