header
  padding-bottom: 1em
  word-spacing: 0.2em
  font-size: 1.1em
  font-weight: 600


.logo
  font-weight: 700
  font-family: "Source Sans Pro"
  font-size: 5em
  a
    color: #fff
    &:hover
      color: $lightBlue

nav
  position: relative
  bottom: 0.7em

.header-link
  color: #a3a3a3 !important
  &:hover
    color: $lightBlue !important
  &:visited
    color: #a3a3a3 !important