.index-header
  padding-bottom: 2em
  word-spacing: 0.2em
  // font-size: 1em
  font-weight: normal
  width: 300px
  margin-left: 100px
  float: left
  height: 100%
  color: white
  font-family: "Tisa"
  word-spacing: 0.1em
  padding-top: $sitePaddingTop

.fauxcolumn
  background-color: $lightPastelRed
  position: fixed
  top: 0
  bottom: 0
  left: 0
  width: 400px
  z-index: -10
  // border-right: 10px 
  // +border-image(url("/assets/grey_@2X.png"))


// .logo-container
//   border-bottom: 5px solid $lightPastelRed
//   box-sizing: border-box

a .logo
  // color: #444
  color: white
  &:hover
    color: lighten($lightPastelRed, 25%)

// .logo-container
  // text-align: center

.logo
  line-height: 1
  font-weight: normal
  font-size: 3.3em

nav
  // position: relative
  // bottom: 0.7em
  ul 
    list-style: none
    margin: 0
    padding: 0
    // li
      // display: inline

.header-link
  // color: #a3a3a3
  color: #fff
  &:visited
    color: #fff
  &:hover
    color: $paleBlue

.external-link::after
  content: " \f08e"
  font-family: "FontAwesome"
  display: inline-block
  line-height: 1
  -webkit-font-smoothing: antialiased
  font-weight: normal
  font-style: normal
  font-size: 0.8em
  position: relative
  left: 0.3em

.description
  a
    color: white
    border-bottom: 1px solid white