html
  background-color: $darkBlue
  color: $paleGrey
  font-family: "Open Sans"

body

a
  color: $lightBlue
  text-decoration: none
  &:hover
    color: $paleBlue
  &:visited
    color: $lightBlue

p
  font-weight: 300

.container
  width: 38em
  margin: 1em

.blog-date
  color: $lightGrey
  font-size: 0.7em
  font-weight: 200

h1
  font-size: 1.9em
  font-weight: 600