<div class="fauxcolumn">
</div>
<header class="index-header">
  <div class="logo-container">
    <a href="/"><div class="logo">dan chao</div></a>
  </div>
  <div class="description">
    <p>Software engineer at <a href="http://www.play-i.com">Play-i</a>. JavaScript enthusiast.</p>
  </div>
  <nav>
    <ul>
      <li><a href="/about" class="header-link">about</a></li>
      <li><a href="http://twitter.com/dhchao" class="header-link external-link">twitter</a></li>
      <li><a href="http://github.com/bioball" class="header-link external-link">github</a></li>
    </ul>
  </nav>
</header>